
*.class
*.class
/Bitacora/Nueva Carpeta/SGC/nbproject/private/
/Bitacora/Nueva Carpeta/SGC/build/
/MVCEscuela/build/
Bitacora/Nueva Carpeta/SGC/nbproject/private/private.properties
Bitacora/Nueva Carpeta/SGC/nbproject/private/private.xml
CrudElectiva/nbproject/private/private.properties
CrudElectiva/nbproject/private/private.properties
Bitacora/Nueva Carpeta/SGC/nbproject/private/private.properties
Bitacora/Nueva Carpeta/SGC/nbproject/private/private.xml
CrudElectiva/nbproject/private/private.xml
*.properties
*.xml
Bitacora/Nueva Carpeta/SGC/nbproject/private/private.properties
CrudElectiva/nbproject/private/private.properties
